# Verification

## Example Usage

```typescript
import { Verification } from "@compose-market/sdk/models";

let value: Verification = {
  anonymous: 138844,
  walletHeader: 16612,
  composeKey: 116212,
};
```

## Fields

| Field              | Type               | Required           | Description        |
| ------------------ | ------------------ | ------------------ | ------------------ |
| `anonymous`        | *number*           | :heavy_check_mark: | N/A                |
| `walletHeader`     | *number*           | :heavy_check_mark: | N/A                |
| `composeKey`       | *number*           | :heavy_check_mark: | N/A                |