---
openapi: 3.1.0
info:
  title: Compose Manowar
  version: 0.7.13
  summary: Agent, workflow, workspace, connector, MCP, and mesh execution contracts.
  description: |
    Canonical contract for Compose manowar loops: agents, workflows, workspace
    indexing, MCP/onchain connector execution, and mesh-local execution helpers.
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
- url: https://runtime.compose.market
  x-speakeasy-server-id: manowar
  description: Production manowar endpoint
- url: https://api.compose.market
  x-speakeasy-server-id: compose-api
  description: Production API gateway for public agent and workflow execution endpoints
- url: http://127.0.0.1:8787
  x-speakeasy-server-id: local
  description: Local manowar development endpoint
tags:
- name: health
- name: agents
- name: workflows
- name: workspace
- name: connectors
- name: mesh
security: []
paths:
  "/health":
    get:
      tags:
      - health
      operationId: runtime_health_check
      responses:
        '200':
          description: Runtime health.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  "/status":
    get:
      tags:
      - health
      operationId: runtime_status_get
      responses:
        '200':
          description: Cheap runtime readiness/status payload.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  "/agent/{walletAddress}/chat":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public agent execution.
    post:
      tags:
      - agents
      operationId: agents_chat_create
      parameters:
      - "$ref": "#/components/parameters/WalletAddressPath"
      - "$ref": "#/components/parameters/SessionUserAddressHeaderOptional"
      - "$ref": "#/components/parameters/SessionActiveHeader"
      - "$ref": "#/components/parameters/SessionBudgetRemainingHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AgentChatRequest"
      responses:
        '200':
          description: Completed agent execution.
          headers:
            x-run-id:
              "$ref": "#/components/headers/ComposeRunId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentChatResponse"
        '404':
          "$ref": "#/components/responses/ErrorResponse"
        '503':
          "$ref": "#/components/responses/ErrorResponse"
  "/agent/{walletAddress}/stream":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public agent execution.
    post:
      tags:
      - agents
      operationId: agents_stream_create
      parameters:
      - "$ref": "#/components/parameters/WalletAddressPath"
      - "$ref": "#/components/parameters/SessionUserAddressHeaderOptional"
      - "$ref": "#/components/parameters/SessionActiveHeader"
      - "$ref": "#/components/parameters/SessionBudgetRemainingHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AgentChatRequest"
      responses:
        '200':
          description: Agent SSE stream carrying thinking, text, tool, error, and
            done frames.
          headers:
            x-run-id:
              "$ref": "#/components/headers/ComposeRunId"
          content:
            text/event-stream:
              schema:
                "$ref": "#/components/schemas/AgentEventStream"
        '404':
          "$ref": "#/components/responses/ErrorResponse"
  "/agent/{walletAddress}/responses":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public agent execution.
    post:
      tags:
      - agents
      operationId: agents_responses_create
      parameters:
      - "$ref": "#/components/parameters/WalletAddressPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Dynamic Responses API result executed through the agent model.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  "/agent/{walletAddress}/runs/{runId}/state":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public agent run state.
    get:
      tags:
      - agents
      operationId: agents_runs_state_get
      parameters:
      - "$ref": "#/components/parameters/WalletAddressPath"
      - "$ref": "#/components/parameters/RunIdPath"
      - name: threadId
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Durable agent run state.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          "$ref": "#/components/responses/ErrorResponse"
  "/workflow/execute":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public workflow execution.
    post:
      tags:
      - workflows
      operationId: workflows_execute
      parameters:
      - "$ref": "#/components/parameters/SessionUserAddressHeaderOptional"
      - "$ref": "#/components/parameters/SessionActiveHeader"
      - "$ref": "#/components/parameters/SessionBudgetRemainingHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - payload
              properties:
                payload:
                  "$ref": "#/components/schemas/WorkflowExecutePayload"
      responses:
        '200':
          description: Workflow execution result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          "$ref": "#/components/responses/ErrorResponse"
  "/workflow/prices":
    get:
      tags:
      - workflows
      operationId: workflows_prices_get
      responses:
        '200':
          description: Runtime workflow price constants.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: number
  "/workflow/{walletAddress}/chat":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public workflow execution.
    post:
      tags:
      - workflows
      operationId: workflows_chat_stream
      parameters:
      - "$ref": "#/components/parameters/WalletAddressPath"
      - "$ref": "#/components/parameters/SessionUserAddressHeaderOptional"
      - "$ref": "#/components/parameters/SessionActiveHeader"
      - "$ref": "#/components/parameters/SessionBudgetRemainingHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkflowChatRequest"
      responses:
        '200':
          description: Workflow SSE stream carrying start, step, agent, progress,
            tool, result, error, and done frames.
          headers:
            x-run-id:
              "$ref": "#/components/headers/ComposeRunId"
          content:
            text/event-stream:
              schema:
                "$ref": "#/components/schemas/WorkflowEventStream"
  "/workflow/{walletAddress}/stop":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public workflow execution.
    post:
      tags:
      - workflows
      operationId: workflows_stop
      parameters:
      - "$ref": "#/components/parameters/WalletAddressPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                threadId:
                  type: string
                runId:
                  type: string
      responses:
        '200':
          description: Workflow cancellation accepted.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                - runId
                properties:
                  success:
                    type: boolean
                  runId:
                    type: string
        '404':
          "$ref": "#/components/responses/ErrorResponse"
  "/workflow/{walletAddress}/runs/{runId}/state":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public workflow run state.
    get:
      tags:
      - workflows
      operationId: workflows_runs_state_get
      parameters:
      - "$ref": "#/components/parameters/WalletAddressPath"
      - "$ref": "#/components/parameters/RunIdPath"
      responses:
        '200':
          description: Durable workflow run state.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          "$ref": "#/components/responses/ErrorResponse"
  "/workflow/{walletAddress}/runs/{runId}/approval":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public workflow approvals.
    post:
      tags:
      - workflows
      operationId: workflows_runs_approval_signal
      parameters:
      - "$ref": "#/components/parameters/WalletAddressPath"
      - "$ref": "#/components/parameters/RunIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - stepKey
              - status
              properties:
                stepKey:
                  type: string
                status:
                  type: string
                  enum:
                  - approved
                  - rejected
                approver:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Approval signal accepted.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
  "/workflow/{id}/run":
    servers:
    - url: https://api.compose.market
      x-speakeasy-server-id: compose-api
      description: Production API gateway for public workflow execution.
    post:
      tags:
      - workflows
      operationId: workflows_run_alias
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkflowChatRequest"
      responses:
        '200':
          description: Alias for `/workflow/{walletAddress}/chat`.
          content:
            text/event-stream:
              schema:
                "$ref": "#/components/schemas/WorkflowEventStream"
  "/api/workspace/index":
    post:
      tags:
      - workspace
      operationId: workspace_index
      parameters:
      - "$ref": "#/components/parameters/SessionUserAddressHeaderOptional"
      - "$ref": "#/components/parameters/SessionActiveHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agentWallet
              - documents
              properties:
                agentWallet:
                  "$ref": "#/components/schemas/WalletAddress"
                documents:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    additionalProperties: true
      responses:
        '200':
          description: Workspace index result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  "/api/workspace/search":
    post:
      tags:
      - workspace
      operationId: workspace_search
      parameters:
      - "$ref": "#/components/parameters/SessionUserAddressHeaderOptional"
      - "$ref": "#/components/parameters/SessionActiveHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agentWallet
              - query
              properties:
                agentWallet:
                  "$ref": "#/components/schemas/WalletAddress"
                query:
                  type: string
                limit:
                  type: integer
      responses:
        '200':
          description: Workspace search result.
          content:
            application/json:
              schema:
                type: object
                required:
                - results
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
  "/onchain/status":
    get:
      tags:
      - connectors
      operationId: connectors_onchain_status
      security:
      - RuntimeBearerAuth: []
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/onchain/plugins":
    get:
      tags:
      - connectors
      operationId: connectors_onchain_plugins_list
      security:
      - RuntimeBearerAuth: []
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/onchain/actions":
    get:
      tags:
      - connectors
      operationId: connectors_onchain_actions_list
      security:
      - RuntimeBearerAuth: []
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/onchain/plugins/{pluginId}":
    get:
      tags:
      - connectors
      operationId: connectors_onchain_plugin_get
      security:
      - RuntimeBearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/PluginIdPath"
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/onchain/plugins/{pluginId}/actions/{actionName}":
    get:
      tags:
      - connectors
      operationId: connectors_onchain_action_get
      security:
      - RuntimeBearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/PluginIdPath"
      - "$ref": "#/components/parameters/ActionNamePath"
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
    post:
      tags:
      - connectors
      operationId: connectors_onchain_action_execute
      security:
      - RuntimeBearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/PluginIdPath"
      - "$ref": "#/components/parameters/ActionNamePath"
      requestBody:
        "$ref": "#/components/requestBodies/ActionExecuteRequest"
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mcps/inspect":
    post:
      tags:
      - connectors
      operationId: connectors_mcp_inspect
      security:
      - RuntimeBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - serverId
              - candidates
              properties:
                serverId:
                  type: string
                candidates:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mcps/spawn":
    post:
      tags:
      - connectors
      operationId: connectors_mcp_spawn
      security:
      - RuntimeBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - serverId
              properties:
                serverId:
                  type: string
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mcps/servers/{serverId}/actions":
    get:
      tags:
      - connectors
      operationId: connectors_mcp_actions_list
      security:
      - RuntimeBearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/ServerIdPath"
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mcps/servers/{serverId}/actions/{actionName}":
    post:
      tags:
      - connectors
      operationId: connectors_mcp_action_execute
      security:
      - RuntimeBearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/ServerIdPath"
      - "$ref": "#/components/parameters/ActionNamePath"
      requestBody:
        "$ref": "#/components/requestBodies/ActionExecuteRequest"
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mesh/actions/execute":
    post:
      tags:
      - mesh
      operationId: mesh_actions_execute
      parameters:
      - "$ref": "#/components/parameters/LocalRuntimeTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MeshActionExecuteRequest"
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mesh/memory":
    post:
      tags:
      - mesh
      operationId: mesh_memory_execute
      parameters:
      - "$ref": "#/components/parameters/LocalRuntimeTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mesh/hai/register":
    post:
      tags:
      - mesh
      operationId: mesh_hai_register
      parameters:
      - "$ref": "#/components/parameters/LocalRuntimeTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agentWallet
              - userAddress
              - deviceId
              properties:
                agentWallet:
                  "$ref": "#/components/schemas/WalletAddress"
                userAddress:
                  "$ref": "#/components/schemas/WalletAddress"
                deviceId:
                  type: string
                haiId:
                  type:
                  - string
                  - 'null'
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mesh/reputation/summary":
    get:
      tags:
      - mesh
      operationId: mesh_reputation_summary_get
      parameters:
      - "$ref": "#/components/parameters/LocalRuntimeTokenHeader"
      - name: agentWallet
        in: query
        required: true
        schema:
          "$ref": "#/components/schemas/WalletAddress"
      - name: baseDir
        in: query
        schema:
          type: string
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mesh/synapse/anchor":
    post:
      tags:
      - mesh
      operationId: mesh_synapse_anchor
      parameters:
      - "$ref": "#/components/parameters/LocalRuntimeTokenHeader"
      requestBody:
        "$ref": "#/components/requestBodies/JsonObjectRequest"
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mesh/filecoin/pin":
    post:
      tags:
      - mesh
      operationId: mesh_filecoin_pin
      parameters:
      - "$ref": "#/components/parameters/LocalRuntimeTokenHeader"
      requestBody:
        "$ref": "#/components/requestBodies/JsonObjectRequest"
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
  "/mesh/conclave/run":
    post:
      tags:
      - mesh
      operationId: mesh_conclave_run
      parameters:
      - "$ref": "#/components/parameters/LocalRuntimeTokenHeader"
      requestBody:
        "$ref": "#/components/requestBodies/JsonObjectRequest"
      responses:
        '200':
          "$ref": "#/components/responses/JsonObjectResponse"
components:
  securitySchemes:
    RuntimeBearerAuth:
      type: http
      scheme: bearer
      description: Runtime internal bearer token.
  headers:
    ComposeRunId:
      description: Runtime run identifier.
      schema:
        type: string
  parameters:
    WalletAddressPath:
      name: walletAddress
      in: path
      required: true
      schema:
        "$ref": "#/components/schemas/WalletAddress"
    RunIdPath:
      name: runId
      in: path
      required: true
      schema:
        type: string
    PluginIdPath:
      name: pluginId
      in: path
      required: true
      schema:
        type: string
    ServerIdPath:
      name: serverId
      in: path
      required: true
      schema:
        type: string
    ActionNamePath:
      name: actionName
      in: path
      required: true
      schema:
        type: string
    SessionUserAddressHeaderOptional:
      name: x-session-user-address
      in: header
      required: false
      schema:
        "$ref": "#/components/schemas/WalletAddress"
    SessionActiveHeader:
      name: x-session-active
      in: header
      required: false
      schema:
        type: string
        enum:
        - 'true'
        - 'false'
    SessionBudgetRemainingHeader:
      name: x-session-budget-remaining
      in: header
      required: false
      schema:
        "$ref": "#/components/schemas/AtomicAmount"
    LocalRuntimeTokenHeader:
      name: x-local-runtime-token
      in: header
      required: false
      schema:
        type: string
  requestBodies:
    JsonObjectRequest:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    ActionExecuteRequest:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              args:
                type: object
                additionalProperties: true
  responses:
    ErrorResponse:
      description: Runtime error response.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    JsonObjectResponse:
      description: JSON object response.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  schemas:
    WalletAddress:
      type: string
      pattern: "^0x[a-fA-F0-9]{40}$"
    AtomicAmount:
      type: string
      pattern: "^[0-9]+$"
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        error:
          oneOf:
          - type: string
          - type: object
            additionalProperties: true
        code:
          type: string
        message:
          type: string
        timestamp:
          type: string
    Attachment:
      type: object
      additionalProperties: true
      properties:
        type:
          type: string
          description: Advisory attachment kind. Agents and workflows pass attachments through without model-capability gating.
          enum:
          - image
          - audio
          - video
          - pdf
          - file
          - text
          - json
          - url
        url:
          type: string
        uri:
          type: string
        data:
          type: string
        base64:
          type: string
        mimeType:
          type: string
        contentType:
          type: string
        name:
          type: string
        filename:
          type: string
        text:
          type: string
        content:
          type: string
        detail:
          type: string
          enum:
          - auto
          - low
          - high
        metadata:
          type: object
          additionalProperties: true
    AttachmentInput:
      oneOf:
      - "$ref": "#/components/schemas/Attachment"
      - type: string
    Attachments:
      type: array
      items:
        "$ref": "#/components/schemas/AttachmentInput"
    AgentChatRequest:
      type: object
      required:
      - message
      additionalProperties: true
      properties:
        message:
          type: string
          minLength: 1
        threadId:
          type: string
        composeRunId:
          type: string
        workflowWallet:
          "$ref": "#/components/schemas/WalletAddress"
        userAddress:
          "$ref": "#/components/schemas/WalletAddress"
        attachment:
          "$ref": "#/components/schemas/AttachmentInput"
        attachments:
          "$ref": "#/components/schemas/Attachments"
        sessionGrants:
          type: array
          items:
            type: string
        cloudPermissions:
          type: array
          items:
            type: string
        backpackAccounts:
          type: array
          items:
            type: object
            additionalProperties: true
    AgentChatResponse:
      type: object
      additionalProperties: true
      properties:
        walletAddress:
          "$ref": "#/components/schemas/WalletAddress"
        name:
          type: string
        model:
          type: string
        runId:
          type: string
        success:
          type: boolean
        output: {}
        usage:
          type: object
          additionalProperties: true
    AgentEventStream:
      description: SSE frames for `thinking_start`, `thinking_end`, OpenAI-style text
        chunks, `tool_start`, `tool_end`, `error`, and `done`.
      type: string
    WorkflowExecutePayload:
      type: object
      required:
      - walletAddress
      additionalProperties: true
      properties:
        walletAddress:
          "$ref": "#/components/schemas/WalletAddress"
        id:
          type: string
        input: {}
        message:
          type: string
        threadId:
          type: string
    WorkflowChatRequest:
      type: object
      required:
      - message
      additionalProperties: true
      properties:
        message:
          type: string
        threadId:
          type: string
        image:
          type: string
        audio:
          type: string
        attachment:
          "$ref": "#/components/schemas/AttachmentInput"
        attachments:
          "$ref": "#/components/schemas/Attachments"
        continuous:
          type: boolean
        composeRunId:
          type: string
        lastEventIndex:
          type: integer
    WorkflowEventStream:
      description: SSE frames named `start`, `step`, `agent`, `progress`, `tool_start`,
        `tool_end`, `result`, `error`, `complete`, and `done`.
      type: string
    MeshActionExecuteRequest:
      type: object
      required:
      - agentWallet
      - toolName
      - haiId
      - threadId
      properties:
        agentWallet:
          "$ref": "#/components/schemas/WalletAddress"
        userAddress:
          "$ref": "#/components/schemas/WalletAddress"
        workflowWallet:
          "$ref": "#/components/schemas/WalletAddress"
        toolName:
          type: string
          enum:
          - search_memory
          - save_memory
          - search_all_memory
        args:
          type: object
          additionalProperties: true
        haiId:
          type: string
        threadId:
          type: string
